<div align="center" class="mt-5">
  <div class="mb-3">
    <h1>URL shortener</h1>
  </div>
  <div class="mb-5">
    <img style="max-width: 150px;"
      src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  </div>
  <form action="/" method="POST">
    <div>
      <div class="mb-4">
        <h3>Success! Please use this link:</h3>
        <a href="{{url}}" target="_blank" id="copyText">http://localhost:3000/{{shortUrl}}</a>
      </div>
      <button class="btn btn-primary mb-3" type="submit" style="width: 250px;"
        onclick="copyEvent()">Copy</button>

      <script>
        function copyEvent() {
          const URL = document.getElementById("copyText")
          navigator.clipboard.writeText(URL.innerText)
            .then(() => alert('Copied'))
            .catch(error => console.log(error))
        }
      </script>

    </div>
  </form>
</div>